@{
    ViewData["Title"] = "Calculation Results";
}

<h1>Calculation Results</h1>

<p>Number 1: @ViewData["The number first "]</p>
<p>Number 2: @ViewData["The number scond"]</p>
<p>Addition: @ViewData["Addition"]</p>
<p>Multiplication: @ViewData["Multiplication"]</p>
<p>Subtraction: @ViewData["Subtraction"]</p>
<p>Division: @ViewData["Division"]</p>
